/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
    margin: 0px auto;
    /* display: grid; */
    background: linear-gradient(to bottom left, #79C7C5 40% ,#F9FBFF 100%);
    min-height: 100%;
    font-family: '微軟正黑體',sans-serif;
}
.newUser-cover{
    position: fixed;
    z-index: 88;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.newUser{
    position: fixed;
    z-index: 99;
    width: 300px;
    /* height: 300px; */
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    border-radius: 15px;
    background: #ffffff;
}

.chat-div{
    position: relative;
    width: 100%;
    height: auto;
}

.chat-box{
    position: absolute;
    z-index: 2;
    right: 0;
    top: calc(50vh - 300px);
    border-radius: 15px;
    /* background: #fff; */
    height: 600px;
    width: 70%;
    -webkit-box-shadow: 3px 6px 20px 0px rgba(153,153,153,1);
    -moz-box-shadow: 3px 6px 20px 0px rgba(153,153,153,1);
    box-shadow: 3px 6px 20px 0px rgba(153,153,153,1);
    transition: all .5s linear;
}

.menuBtn,
.closeBtn{
    display: none;
    line-height: 35px;
    cursor: pointer;
}

.message{
    position: absolute;
    background: rgba(249, 251, 255,0.5);
    z-index: 1;
    height: 580px;
    width: 30%;
    left: 0;
    top: calc(50vh - 290px);
    /* opacity: 0.5; */
    border-radius: 15px 0 0 15px;
    -webkit-box-shadow: -3px 6px 20px 0px rgba(153,153,153,1);
    -moz-box-shadow: -3px 6px 20px 0px rgba(153,153,153,1);
    box-shadow: -3px 6px 20px 0px rgba(153,153,153,1);
    transition:  all .5s linear;
}

.people-div{
    height: 240px;
    overflow-y: auto;
}

.people{
    position: relative;
    /* margin-top: 20px;  */
    width: 100%;
    height: auto;
    list-style-type: none;
    line-height: 0.7em;
}

.people li{
    padding: 20px 10px;
    border-bottom: 1px solid #79C7C5;
    font-size: 0.8rem;
}

.people li:hover{
    background: #F9FBFF;
    cursor: pointer;
}

.people .active{
    background: #F9FBFF;
}

.user-circle{
    /* margin: 0px auto; */
    position: relative;
    /* margin-top: 30px; */
    width: 35px;
    height: 35px;
    background: linear-gradient(to bottom left, #79C7C5 20%, #A1E2D9 100%);
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.text-green{
    color: #79C7C5;
}
.text-white{
    color: #ffffff;
}
.top-div{
    position: relative;
    height: 75px;
    width: 100%;
    background: #ffffff;
    border-radius: 15px 15px 0  0;
    padding: 20px;
}

.mid-div{
    width: 100%;
    height: calc(600px - 150px);
    background: #F9FBFF;
    opacity: 0.85;
    padding: 10px;
    overflow-y:auto;
    overflow-x: hidden; 
}

.fot-div{
    position: relative;
    height: 75px;
    width: 100%;
    background: #ffffff;
    border-radius: 0 0  15px 15px ;
    padding: 20px;
}


.fot-div input{
    height: 35px;
    border: 0px;
    color: #79C7C5;
    font-size: 1.2rem;
    width: calc(100%  - 100px);
}

.fot-div input:focus {
    outline: none;
}

.sendBtn{
    position: relative;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #79C7C5;
    opacity: 1; /* Firefox */
}

.div-center{
    margin: 0px auto;
}

.userName{
    font-size: 1.2rem;
    line-height: 35px;
}

.left-box{
    position: relative;
    border-radius: 0 20px 20px 20px;
    background: #b2b2b2;
    padding: 10px;
    margin-top: 5px;
    height: auto;
    max-width: calc(100% - 30px);
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
}
.right-box{
    position: relative;
    border-radius: 20px 0 20px 20px;
    background: #79C7C5;
    padding: 10px;
    margin-top: 5px;
    height: auto;
    max-width: calc(100% - 30px);
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1rem;
}

.ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    animation: flash 1.5s linear infinite;
}
.one {
    animation-delay: 0.6s;
}
.two {
    animation-delay: 0.5s;
}
.three {
    animation-delay: 0.8s;
}

@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) { 
    
 }

@media (max-width: 991.98px) {
    .chat-div{
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .newUser{
        position: fixed;
        z-index: 99;
        width: calc(100vw - 20px);
        /* height: calc(100vh - 20px); */
        top: 10px;
        left: 10px;
        border-radius: 15px;
        background: #ffffff;
    }
    .people-div{
        height: calc(100vh - 20px - 120px);
        overflow-y: auto;
    }
    .message{
        /* display: none; */
        z-index: 1;
        width:  calc(100%);
        height: calc(100vh - 20px);
        border-radius: 15px;
        top: 10px;
        left: 0px;
        background: #ddeff1;
        transform: scale(0.9);
    }
    .chat-box{
        z-index: 2;
        width:  calc(100%);
        height: calc(100vh - 20px);
        top: 10px;
        left: 0px;
        border-radius: 15px;
    }

    
    .mid-div{
        height: calc(100vh - 150px - 20px);
        background: #e7f3f6;
        opacity: 1;
    }
    
    

    .menuBtn,
    .closeBtn{
        display: inline;
        line-height: 35px;
        cursor: pointer;
    }

    
}

@media (max-width: 1199.98px) {
    
}